<html>
    <head>
        <title> las mejores pelis piratas</title>
        <link rel= "stylersheet" href="stylesheets/style.css">

    </head>
    <body>
    
        <header class="header">
          <nav>
              <ul>
                  <li>
                      <a href="/movies/create">crear Peli</a>
                  </li>
                  <li>
                    <a href="/movies">ver Pelis</a>
                </li>
              </ul>
          </nav>
      </header>
